body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: left;
  gap: 12rem;
  background-color: lightslategray;
  font-size: 30px;
  line-height: 65px;
}

.active {
  text-decoration: none;
  color: saddlebrown;
}

a {
  font-family: fantasy;
}
