body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: left;
  gap: 12rem;
  background-color: white;
  font-size: 30px;
  line-height: 65px;
}

.active {
  text-decoration: none;
  color: rgb(255, 255, 152);
}

a {
  font-family: fantasy;
  font-style: italic;
  text-shadow: 1px 1px 7px black;
  color: silver
}

.super {
  height: 70px;
  width: 80px;
}

header {
  font-size: 35px;
  line-height: 30px;
  margin-left: -12%;
  font-family: fantasy;
  color: rgba(75, 108, 18, 0.393);
  text-shadow: 1px 2px 2px black;
}

.home {
  font-style: italic;
  font-family: Georgia;
  font-size: 25px;
  color: rgb(255, 255, 152);
  font-weight: bold;
}

p, .Home-component {
  margin-top: 5%;
  text-indent: 2.5%;
  color: rgba(255, 255, 152, 0.759);
}

button {
  border: none;
  width: 45%;
  background-color: Transparent;
  background-repeat:no-repeat;
}

.marvelpng {
  width: 70%;
  margin-bottom: 7%;
  margin-left: 25%;
}

.dcpng {
  width: 45%;
  margin-left: 5%;
}

html, body, .Home-component {
  background-image: url("https://images.hdqwalls.com/wallpapers/marvel-vs-dc-4k-iu.jpg");
  background-size: cover;
}

html, body, .HeroShowcase-component {
  background-image: url("https://images.hdqwalls.com/wallpapers/marvel-vs-dc-4k-iu.jpg");
  background-size: cover;
  background-size: 100%;
}

.container {
  display: inline-flex;
  width: 500px;
  padding-left: 15rem;
  margin-left: 17px;
}

.img-fluid {
  width: 220px;
  border-radius: 9px 9px 0 0;
}

.herocards {
  border: 3px solid #7707cc94;
  border-radius: 10px;
  margin-bottom: 7px;
}

.content-name {
  font-size: 27.8px;
  font-family: fantasy;
  text-shadow: 1px 1px rgb(107, 18, 18);
  color: black;
  background-color: rgba(210, 148, 49, 0.633);
}

.details1 {
  font-size: 25px;
  text-decoration: underline;
  color: rgba(255, 255, 152, 0.926);
  background-color: gray;
}

.details2 {
  font-size: 27px;
  text-shadow: 1px 8px 8px black;
  color: rgba(255, 255, 255, 0.895);
  font-family: cursive;
  background-color: rgba(210, 148, 49, 0.633);
}

.stats-table {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.table {
  border: 3px solid rgba(34, 139, 34, 0.611);
  width: 2000px;
  height: 900px;
}

th {
  border-bottom: 5px solid rgba(191, 191, 191, 0.255);
  background-color: rgba(210, 148, 49, 0.633);
}

.table-content {
  text-align: center;
  font-family: cursive;
  font-size: 16.5px;
  color: rgb(141, 226, 255);
  text-shadow: 2px 2px 8px purple;
  background-color: rgba(52, 52, 52, 0.8);
}