body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: left;
  gap: 12rem;
  background-color: white;
  font-size: 30px;
  line-height: 65px;
}

.active {
  text-decoration: none;
  color: rgb(255, 255, 152);
}

a {
  font-family: fantasy;
  font-style: italic;
  text-shadow: 1px 1px 7px black;
  color: silver
}

.super {
  height: 70px;
  width: 80px;
}

header {
  font-size: 35px;
  line-height: 30px;
  margin-left: -12%;
  font-family: fantasy;
  color: rgba(75, 108, 18, 0.393);
  text-shadow: 1px 2px 2px black;
}

.home {
  font-style: italic;
  font-family: Georgia;
  font-size: 25px;
  color: rgb(255, 255, 152);
  font-weight: bold;
}

p, .Home-component {
  margin-top: 5%;
  text-indent: 2.5%;
  color: rgba(255, 255, 152, 0.759);
}

button {
  border: none;
  width: 45%;
  background-color: Transparent;
  background-repeat:no-repeat;
}

.marvelpng {
  width: 70%;
  margin-bottom: 7%;
  margin-left: 25%;
}

.dcpng {
  width: 45%;
  margin-left: 5%;
}

html, body, .Home-component {
  background-image: url("https://images.hdqwalls.com/wallpapers/marvel-vs-dc-4k-iu.jpg");
  background-size: cover;
}

html, body, .HeroShowcase-component {
  color: white;
}